body {
    max-width: 70vw;
    min-width: 150px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    background-color: burlywood;
    margin: 1em 0;
}

#menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#menu h2 {
    grid-column: 1 / span 3;
}

article {
    color: #fffdd0;
    border-style: double;
    border-radius: 1em;
    background-color: #6f4e37;
    padding: .5em;
    margin: .5em;
    
}
